

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    {{ bootstrap.load_css() }}

    {% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/flash.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/pop.css')}}">
     {% endblock %}
     <!-- Paste into base.html's <head>, on every page -->

</head>
<body>

{% block navbar %}{% endblock %}

 {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
<div id="flash-container">
      {% for category, message in messages %}
<div class="flash flash-{{ category }}">
          {{ message }}
</div>
      {% endfor %}
</div>
  {% endif %}
{% endwith %}
<!-- Entry Confirmation Modal -->
<div id="entryModal" class="entry-modal-overlay">
  <div class="entry-modal">
    <h2>Before you continue</h2>
    <p>Please confirm the following to use BrightWay Moto:</p>

    <form id="entryForm">
      <label class="entry-checkbox">
        <input type="checkbox" id="ageConfirm" required>
        I confirm I am 18 years of age or older
      </label>



      <label class="entry-checkbox">
        <input type="checkbox" id="emailConfirm" required>
        I agree that BrightWaY motors may contact me by email regarding my enquiries
      </label>
      <label class="entry-checkbox">
        <input type="checkbox" id="emailConfirm" required>
        I accept that this site uses cookie for essential functionality and to remember my preference 
      </label>
      <p>Learn More about our Privacy Policy and Cookie Policy <a href="{{url_for('privacy_policy')}}">Learn More</a></p>
  

      <button type="submit" class="entry-submit-btn">Continue</button>
    </form>
  </div>
</div>  

{%block content%}

    
{% endblock %}
{{ bootstrap.load_js() }}

{% block scripts %}
<script src="{{url_for('static', filename='js/popup.js')}}"></script>
{% endblock %}
</body>
</html>

 